@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Futura";
        font-weight: 500;
        src: url('./assets/fonts/FuturaPT-Medium.woff') format('woff');
    }

    @font-face {
        font-family: "Futura";
        font-weight: 300;
        src: url('./assets/fonts/FuturaPT-Light.woff') format('woff');
    }

    @font-face {
        font-family: "Futura";
        font-weight: 700;
        src: url('./assets/fonts/FuturaPT-Bold.woff') format('woff');
    }

    @font-face {
        font-family: "Futura";
        font-weight: 800;
        src: url('./assets/fonts/FuturaPT-ExtraBold.woff') format('woff');
    }

    @font-face {
        font-family: "Heavy";
        font-weight: 900;
        src: url('./assets/fonts/FuturaPT-Heavy.woff') format('woff');
    }
}

.pre-formatted {
    white-space: pre;
}